//variables
$font-main: var(--font-inter);
$font-secondary: var(--font-montserrat);
$font-roboto: var(--font-roboto);

$main-color: var(--main-color);
$yellow-color: var(--yellow-color);

* {
  font-family: $font-main !important;
}

.font-roboto {
  font-family: $font-roboto !important;
}

.font-secondary {
  font-family: $font-secondary !important;
}

.border-main {
  border-color: $main-color !important;
}

.bg {
  &-main {
    background: $main-color !important;
  }
  &-yellow {
    background: $yellow-color !important;
  }
  &-disabled {
    background: #dde1e6 !important;
  }
}

.text {
  &-main {
    color: $main-color !important;
  }
  &-yellow {
    color: $yellow-color !important;
  }
  &-disabled {
    color: #878d96 !important;
  }
}

svg {
  box-shadow: unset !important;
}
